In [1]:
import pandas as pd

# PATH = 'data/results/full_gold_run/en_gold_all.csv'
PATH = '../data/results/train/train_lemma_pos_combined.csv'

df = pd.read_csv(PATH)

In [2]:
# Best scoring sentences
df.sort_values('f1_lenient', ascending=False).head(20)

,pmb_id,raw_sent,precision,recall,f1,precision_lenient,recall_lenient,f1_lenient
3675,en/p07/d2789,I bought that car.,1.000000,1.000000,1.000000,1.0,1.0,1.0
4109,en/p99/d2376,The ducks quacked.,1.000000,1.000000,1.000000,1.0,1.0,1.0
1478,en/p54/d1499,I made a decision.,0.965517,0.965517,0.965517,1.0,1.0,1.0
4181,en/p99/d0907,We won the bronze medal.,1.000000,1.000000,1.000000,1.0,1.0,1.0
3307,en/p47/d3112,The kid vomited.,1.000000,1.000000,1.000000,1.0,1.0,1.0
987,en/p34/d3518,I smoked.,1.000000,1.000000,1.000000,1.0,1.0,1.0
750,en/p53/d3494,I was hunting.,1.000000,1.000000,1.000000,1.0,1.0,1.0
2653,en/p43/d1770,The goblins grinned gruesomely.,1.000000,1.000000,1.000000,1.0,1.0,1.0
5311,en/p08/d2928,I overslept.,1.000000,1.000000,1.000000,1.0,1.0,1.0
226,en/p79/d2745,The children were flying kites.,0.925926,0.925926,0.925926,1.0,1.0,1.0
2231,en/p27/d3174,I was playing tennis.,1.000000,1.000000,1.000000,1.0,1.0,1.0
4025,en/p87/d2878,The hawk caught a mouse.,0.925926,0.925926,0.925926,1.0,1.0,1.0
4480,en/p09/d1939,I have borrowed a table.,1.000000,1.000000,1.000000,1.0,1.0,1.0
543,en/p64/d2006,The dog sniffed the ground.,1.000000,1.000000,1.000000,1.0,1.0,1.0
3843,en/p05/d2020,I won!,1.000000,1.000000,1.000000,1.0,1.0,1.0
562,en/p38/d1984,We rented the apartment.,0.965517,0.965517,0.965517,1.0,1.0,1.0
2837,en/p67/d0150,I applauded.,1.000000,1.000000,1.000000,1.0,1.0,1.0
4419,en/p09/d2518,I ordered pizza.,1.000000,1.000000,1.000000,1.0,1.0,1.0
5694,en/p78/d1419,I exaggerated.,1.000000,1.000000,1.000000,1.0,1.0,1.0
5762,en/p14/d0876,I wrote down that telephone number.,1.000000,1.000000,1.000000,1.0,1.0,1.0

In [3]:
df[df.f1_lenient > .8]

,pmb_id,raw_sent,precision,recall,f1,precision_lenient,recall_lenient,f1_lenient
1,en/p12/d1711,I wasn't joking.,0.913043,0.840000,0.875000,0.900000,0.818182,0.857143
9,en/p12/d0877,I was invited by an old friend.,0.914286,0.780488,0.842105,0.933333,0.800000,0.861538
10,en/p12/d2068,The ship is unloading the boxes.,0.925926,0.925926,0.925926,0.913043,0.913043,0.913043
11,en/p12/d2518,Tom has gone to Boston.,0.838710,0.838710,0.838710,0.851852,0.851852,0.851852
12,en/p12/d1922,Mary bought herself a microscope.,0.742857,0.896552,0.812500,0.766667,0.920000,0.836364
...,...,...,...,...,...,...,...,...
7629,en/p56/d3290,He tricked me.,0.862069,0.862069,0.862069,0.880000,0.880000,0.880000
7630,en/p56/d1914,We buy CDs.,0.965517,0.965517,0.965517,0.960000,0.960000,0.960000
7635,en/p56/d0839,He wiped the sweat off his face.,0.731707,0.882353,0.800000,0.742857,0.896552,0.812500
7636,en/p56/d3241,A typhoon is approaching Japan.,0.827586,0.827586,0.827586,0.840000,0.840000,0.840000
7637,en/p56/d1961,I'm used to the noise.,0.793103,0.793103,0.793103,0.800000,0.800000,0.800000

In [4]:
# Worst scoring sentences
# df.sort_values('f1_lenient', ascending=True).head(50)
df.sort_values('f1', ascending=True).head(40)

,pmb_id,raw_sent,precision,recall,f1,precision_lenient,recall_lenient,f1_lenient
6495,en/p33/d2982,The square root of one hundred forty-four is t...,0.186047,0.470588,0.266667,0.189189,0.466667,0.269231
864,en/p48/d2030,Three times four is twelve.,0.280000,0.368421,0.318182,0.318182,0.411765,0.358974
2031,en/p13/d2643,Four plus eighteen is twenty-two.,0.280000,0.368421,0.318182,0.318182,0.411765,0.358974
7618,en/p56/d2381,Two times seven is fourteen.,0.280000,0.368421,0.318182,0.318182,0.411765,0.358974
6713,en/p23/d3358,Three times three is nine.,0.280000,0.368421,0.318182,0.318182,0.411765,0.358974
1799,en/p85/d2634,Four plus three is seven.,0.304348,0.368421,0.333333,0.350000,0.411765,0.378378
3264,en/p26/d0896,Five plus three is eight.,0.304348,0.368421,0.333333,0.350000,0.411765,0.378378
3517,en/p52/d2324,Fifteen is not a prime number.,0.304348,0.411765,0.350000,0.300000,0.400000,0.342857
485,en/p64/d2903,It is ten minutes before eleven.,0.258065,0.727273,0.380952,0.259259,0.700000,0.378378
6260,en/p22/d3215,You can't tickle yourself.,0.344828,0.476190,0.400000,0.320000,0.421053,0.363636
4512,en/p09/d0882,It's 2:00 p.m.,0.275862,0.727273,0.400000,0.280000,0.700000,0.400000
979,en/p34/d2626,Magdalena and Lech are thirteen.,0.655172,0.287879,0.400000,0.680000,0.293103,0.409639
4509,en/p09/d0883,It's one o'clock.,0.275862,0.727273,0.400000,0.280000,0.700000,0.400000
4339,en/p02/d0795,"John is not my brother, but my cousin.",0.666667,0.289855,0.404040,0.653846,0.283333,0.395349
664,en/p16/d1524,Mr. Smith is liked by all the students.,0.655172,0.296875,0.408602,0.680000,0.309091,0.425000
1893,en/p32/d2926,Two is the fourth root of sixteen.,0.360000,0.473684,0.409091,0.363636,0.470588,0.410256
5074,en/p95/d1869,3 times 5 is 15.,0.360000,0.473684,0.409091,0.409091,0.529412,0.461538
5404,en/p08/d2841,It's all Tom's.,0.608696,0.311111,0.411765,0.600000,0.307692,0.406780
6820,en/p88/d2319,He who risks not gains not.,0.341463,0.518519,0.411765,0.342857,0.500000,0.406780
5898,en/p42/d3003,It is five minutes to nine.,0.296296,0.727273,0.421053,0.291667,0.700000,0.411765
875,en/p48/d2398,It is ten minutes to eleven.,0.296296,0.727273,0.421053,0.291667,0.700000,0.411765
811,en/p48/d1618,Fifteen times five equals seventy-five.,0.333333,0.578947,0.423077,0.344828,0.588235,0.434783
6156,en/p74/d2359,A top-class shearer can shear up to 150 sheep ...,0.534884,0.353846,0.425926,0.540541,0.357143,0.430108
5194,en/p35/d2410,Eleven is a prime number.,0.333333,0.600000,0.428571,0.304348,0.538462,0.388889
2986,en/p19/d1145,It was 10.40 P.M.,0.290323,0.818182,0.428571,0.296296,0.800000,0.432432
6344,en/p22/d0196,Five times two equals ten.,0.370370,0.526316,0.434783,0.375000,0.529412,0.439024
850,en/p48/d2063,It's a quarter past nine.,0.320000,0.727273,0.444444,0.318182,0.700000,0.437500
7135,en/p15/d3217,It's five to six.,0.320000,0.727273,0.444444,0.318182,0.700000,0.437500
1916,en/p93/d2799,It's five to four.,0.320000,0.727273,0.444444,0.318182,0.700000,0.437500
2404,en/p17/d1862,It's a quarter till two.,0.320000,0.727273,0.444444,0.318182,0.700000,0.437500
5214,en/p35/d2371,It's 8 P.M.,0.320000,0.727273,0.444444,0.318182,0.700000,0.437500
5625,en/p03/d2401,It's five till four.,0.320000,0.727273,0.444444,0.318182,0.700000,0.437500
877,en/p48/d0795,Jim is not a lawyer but a doctor.,0.724138,0.323077,0.446809,0.680000,0.303571,0.419753
992,en/p34/d3200,"One, three, five, seven and nine are odd numbers.",0.628571,0.349206,0.448980,0.612903,0.358491,0.452381
3123,en/p25/d1541,A book can excite.,0.428571,0.473684,0.450000,0.444444,0.470588,0.457143
326,en/p98/d0838,He can't swim.,0.391304,0.529412,0.450000,0.400000,0.533333,0.457143
594,en/p38/d1130,NIKOLAI LENIN(Vladimir Illitch Ulianov),0.391304,0.529412,0.450000,0.400000,0.533333,0.457143
4967,en/p94/d0899,Five plus two equals seven.,0.400000,0.526316,0.454545,0.409091,0.529412,0.461538
4175,en/p99/d3514,Two plus two equals five.,0.400000,0.526316,0.454545,0.409091,0.529412,0.461538
6802,en/p88/d0930,India is a developing country.,0.344828,0.666667,0.454545,0.400000,0.769231,0.526316

In [5]:
# Get long sentences that score high
df.sort_values("raw_sent", key=lambda x: x.str.len(), ascending=False) \
    .head(200) \
    .sort_values('f1_lenient', ascending=False) \
    [['pmb_id', 'raw_sent', 'f1', 'f1_lenient']]

,pmb_id,raw_sent,f1,f1_lenient
6655,en/p69/d2947,The exchange rate of the dollar versus the eur...,0.909091,0.892857
3231,en/p26/d0712,Leloir won the Premio de la Sociedad Científic...,0.838710,0.888889
2678,en/p63/d1248,The body was discovered in a warehouse in the ...,0.871795,0.878788
4231,en/p02/d1539,The weather is clearing up. I needn't have bro...,0.884615,0.866667
5099,en/p95/d1491,"Italy has two mountain ranges, the Alps and th...",0.787234,0.853659
...,...,...,...,...
578,en/p38/d1998,George Washington was born on the twenty secon...,0.500000,0.507463
3295,en/p47/d0755,The Salt Lake City 2002 Winter Olympics will t...,0.456311,0.466667
4059,en/p87/d1247,"Ms Anke Huber, however, is out: she had lost 4...",0.482759,0.460000
6725,en/p23/d1469,"Helium, neon, argon, krypton, xenon and radon ...",0.459184,0.448485
6156,en/p74/d2359,A top-class shearer can shear up to 150 sheep ...,0.425926,0.430108